.sidebar{
  background-color: #FFFFFF;
  min-height: 100vh;
  min-width: 0;
  max-width: 600px;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  max-height: 100vh;
  overflow-y: auto;
}

.resizer{
  border-right: solid 5px #CEC2C2;
  cursor: ew-resize;
}

.wrapper{
  display: flex;
}

.main{
  flex: 1;
}

search{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  max-width: 250px;
}