@{
  Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="wrapper">
  <aside class="sidebar" id="sidebar">

  </aside>
  <div class="resizer" id="resizer"></div>
  <div class="main">
    @RenderBody()
  </div>
</div>

@section Scripts
{
  <script src="~/js/sidebar.js"></script>
}
