.sidebar{
  background-color: #FFFFFF;
  min-height: 100vh;
  min-width: 0;
  max-width: 800px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 0.5rem;
  max-height: 100vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

.sidebar::-webkit-scrollbar{
  display: none;
}

.resizer{
  border-right: solid 5px #CEC2C2;
  cursor: ew-resize;
  z-index: 1000;
}

.wrapper{
  display: flex;
}

.main{
  flex: 1;
  z-index: 1000;
}

search, .select-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

search input, .select-container select {
  width: 250px;
  padding: 0.25rem;
  box-sizing: border-box;
  height: 2rem;
}

.arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right{
  transform: rotate(-45deg);
}

.down{
  transform: rotate(45deg);
}

.filter-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 500px;
}

.filter-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  padding-top: 0.5rem;
}

.filter-container{
  overflow: hidden;
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 10;
  background-color: #FFFFFF;
  flex-direction: column;
}

.feature-list{
  margin-top: 7.25rem;
}

.filter-container > hr {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #CEC2C2;
}
