.sidebar{
  background-color: #FFFFFF;
  min-height: 100vh;
  min-width: 0;
  max-width: 600px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  max-height: 100vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar::-webkit-scrollbar{
  display: none;
}

.resizer{
  border-right: solid 5px #CEC2C2;
  cursor: ew-resize;
}

.wrapper{
  display: flex;
}

.main{
  flex: 1;
}

search{
  display: flex;
  font-size: 1.25rem;
  flex-direction: column;
  margin-bottom: 1rem;
  max-width: 250px;
}

search label{
  font-weight: bold;
}

.arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right{
  transform: rotate(-45deg);
}

.down{
  transform: rotate(45deg);
}