@page
@model IndexModel
@{
  Layout = "~/Pages/Shared/_LandingLayout.cshtml";
}


<div class="landing_container">
  <div class="landing_container_box">
    <div class="title_box">
      <img type="image/png" src="~/biggurka.png" alt="VizGurka logo" class="title_box_img" />
      <h1 class="title_box_title">Welcome to VizGurka!</h1>
    </div>
    <div class="test_choice_box">
      <h2 class="test_choice_box_title">
        Please choose which test run to review
      </h2>
      <div class="test_choice_box_link_container">
        @foreach (var item in Model.UniqueProductNamesWithDates)
        {
          <a class="link">
            <img id="randomCatImage_@item.ProductName" class="link_img" alt="Random Cat Image" />
            <h1 class="link_title">@item.ProductName</h1>
            <h2 class="link_date">@item.LatestRunDate</h2>
          </a>
        }
      </div>
    </div>
  </div>

  <script>
    async function fetchRandomCatImage(imgId) {
      try {
        const response = await fetch('https://api.thecatapi.com/v1/images/search');
        const data = await response.json();
        const imageUrl = data[0].url;
        document.getElementById(imgId).src = imageUrl;
      } catch (error) {
        console.error('Error fetching random cat image:', error);
      }
    }

    // Fetch a random cat image for each link when the page loads
    window.onload = function () {
      const links = document.querySelectorAll('.link_img');
      links.forEach(link => {
        fetchRandomCatImage(link.id);
      });
    };
  </script>
