@page
@model IndexModel
@{
  Layout = "~/Pages/Shared/_FeaturesLayout.cshtml";
}

<section class="intro">
  <div>
    <h1>Welcome to VizGurka!</h1>
    <hr>
    <p>
      VizGurka is a web application designed to visualize and manage feature specifications and test results.
      It provides a user-friendly interface to navigate through various
      features, scenarios, and rules, displaying their descriptions, steps, and test outcomes.
    </p>
  </div>
</section>
