.test-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #FFFFFF;
}

.test-header > div {
  display: flex;
  gap: 0.5rem
}

.test-result-message{
  color: #696161;
}

section {
  padding: 2rem;
  min-height: 90vh;
}

.scenario > ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}

.scenario > hr {
  border: none;
  height: 1px;
  width: 70%;
  background-color: #CEC2C2;
}

.scenario > ul > li {
  margin-top: 0.5rem;
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
  background-color: #FFFFFF;
}

input[type="radio"]:checked + label {
  background-color: #f0f0f0;
  text-decoration: underline;
}

.tab-container {
  background-color: #FFFFFF;
}

.tab-content {
  border-top: none;
  background-color: #F2F2F2;
}

.tab-content > div {
  display: none;
  padding: 1rem;
}

#tab-scenarios:checked ~ .tab-content #scenarios,
#tab-background:checked ~ .tab-content #background {
  display: block;
}
