@page "/analytics/{productName}/{id:guid}/{featureId:guid?}/{rule?}"
@using VizGurka.Pages.Features
@model FeaturesModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FeaturesModel> Localizer
@{
  Layout = "~/Pages/Shared/_FeaturesLayout.cshtml";
}
<section>
  <h1>Hej</h1>
</section>