@page "/analytics/{productName}/{id:guid}/{featureId:guid?}/{rule?}"
@model VizGurka.Pages.Features.FeaturesModel
@using Microsoft.Extensions.Localization
@{
  Layout = "~/Pages/Shared/_FeaturesLayout.cshtml";
}
<section>
    <h1>Hej</h1>
</section>