* {
  color: #f3f3f3;
  font-family: 'Roboto', sans-serif;
}


.main-container {
  display: flex;
  background-color: #1E2129;
  max-width: 100vw;
  min-width: 100vw;
  max-height: 89vh;
  justify-content: center;
  margin: auto;
  overflow-x: hidden;
}

.content_section {
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-height: 85vh;
  height: 85vh;
  max-width: 50vw;
  min-width: 50vw;;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 20px;
  background-color: #1E2129;
  scrollbar-width: thin;
  scrollbar-color: #3e4352 #14151a;
  position: relative;
}

.content_container {
  margin: auto;
  width: 43vw;
  padding-top: 60px;
}


.content_container_header {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
  z-index: 100;
}

.title_and_link {
  width: 100%;
  position: fixed;
  top: 8vh;
  left: 50%;
  transform: translateX(-50%);
  max-width: 43vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background-color: rgba(30, 33, 41, 0.945);
  padding-top: 60px;
  padding-right: 20px;
}

.title_and_link h1 {
  color: #f3f3f3;
}

.content_container_title{
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
  width: fit-content;
  margin: 0;
  color: #E2E4E98F;
}

.github_link i {
  font-size: 20px;
  
}

.github_link {
  display: flex;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding-left: 20px;
  text-decoration: none;
  font-size: 0.8em;
  color: #5E8BDE;
}

.github_link i:hover {
  color: #2977ff;
}

.tag_and_rule_count {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.tag_and_rule_count ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.tag_list.scenario_tags {
  margin-left: 1rem;
  margin-top: 1rem;
}

.scenario_tag_and_name {
  display: flex;
  gap: 20px;
  align-items: center;
}

.rule_tag_and_name {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.tag{
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.7);
  padding: 3px 8px;
  font-size: 0.8rem;
  transition: all 0.2s ease;
}

.linkTag {
  background: rgba(70, 117, 246, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 3px 8px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.linkTag a {
  text-decoration: none;
  color: white;
}

.linkTag:hover {
  background: rgba(70, 117, 246, 0.5);
}

.ignore {
  background-color: rgb(173, 152, 29);
  color: rgb(255, 255, 0);
}

.scenario_tags{
  display: flex;
  list-style: none;
  margin-left: 0;
  padding: 0;
  padding-left: 2rem;
  margin-top: 1rem;
}

.content_container_description p{
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  width: 95%;
  color: white;
}

.content_container_description h2{
  font-size: 1.4rem;
  padding-left: 2rem;
}

.content_container_description a{
  color: #5E8BDE;
}

.content_container_description a:hover{
  color: #2977ff;
}

.content_container_description ul {
  list-style-type: disc;
  margin-left: 20px;
}

.content_container_description li {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  width: 95%;
  color: #E2E4E9D1;
}

.scenario {
  display: flex;
  flex-direction: column;
  border: 1px solid #767676;
  border-radius: 10px;
  margin-top: 8px;
  background-color: #272A34;
}

.scenario h2 {
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

.scenario span {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

.container_scenarios_title{
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 0;
  color: #E2E4E9D1;
}

.container_scenario_rule{
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
}

.scenario_rule_description p{
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #E2E4E9D1;
}

.scenario_rule_description a {
  color: #5E8BDE;
}

.scenario_rule_description a:hover {
  color: #2977ff;
}


.container_scenario_rule h3 {
  color: #E2E4E9D1;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0;
}

.container_scenario_name{
  font-size: 1.5rem;
  color: #E2E4E9D1;
}

.container_scenario_name h3{
  scroll-padding-top: -100px;
}

[id$="-title"]{
  scroll-margin-top: 100px;
}

[id$="-rule"]{
  scroll-margin-top: 100px;
}

[id$="-scenario"]{
  scroll-margin-top: 100px;
}

[id$="-tag"]{
  scroll-margin-top: 100px;
}

.scenario_rule_description p{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.container_scenario_step{
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: white;
  padding-left: 2rem;
  max-width: 90%;
}

.container_scenario_step strong{
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: white;
}

.container_scenario_table {
  max-width: 100%;
  overflow-x: auto;
  display: block;
}

.container_scenario_table table {
  margin-top: 15px;
  font-size: 1rem;
  border: 1px solid #14151a;
  padding: 5px;
  background-color: #14151a;

}

.container_scenario_table th, 
.container_scenario_table td {
  text-align: center;
  font-weight: 300;
  min-width: fit-content;
  padding: 8px;
  color: white;
  background-color: #3e4352;
  white-space: nowrap;
  width: auto;
}

.container_scenario_duration{
  font-size: 1rem;
  font-weight: 400;
  color: #E2E4E9D1;
  margin-top: 0;
  padding-left: 1rem;
}

.container_scenario_status_img{
  width: 16px;
  height: 16px;
  padding-left: 1rem;
}

.container_title_status_img{
  width: 25px;
}

.select_feature {
  font-size: 2em;
  font-weight: bold;
  padding: 0.5em;
  margin: auto;
  background-color: white;
}

.scenario_list {
  padding: 0;
  margin: 0;
  position: relative;
}

hr {
  border-color: #14151a;
}

.select_feature {
  font-size: 2em;
  font-weight: bold;
  padding: 0.5em;
  margin: auto;
  background-color: #1E2129;
}

.scenario_tag_and_name {
  display: flex;
  gap: 20px;
  align-items: left;
  justify-content: left;
  max-width: 90%;
  margin-bottom: 1rem;
}

.scenario_tag_and_name h2 {
  margin-bottom: 0;
}

.rule-status-summary {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.rule-status-summary h3 {
  font-size: 1rem;
  margin: 0;
  font-weight: normal;
  margin-right: 0.5rem;
  color: #E2E4E9D1;
}

.status-counts {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.status-counts li {
  display: flex;
  gap: 0.2rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.status-counts img {
  width: 15px;
  height: 15px;
}

.status-counts h3 {
  margin: 0;
  font-size: 1rem;
}

.rule-status-summary ul {
  gap: 1rem;
}

.tag_and_rule_count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  padding-left: 2rem;
}

.rule_header_content h3 {
  color: white;
}

.rule_header_content span {
  font-weight: bold;
}

.example-table {
  width: 90%;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 1rem;
}

.example-table th, .example-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.example-table thead {
  background-color: #14151a;
}

.example-table .status-cell {
  width: 24px;
  padding: 4px;
  text-align: center;
}

.row_status_icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.example-table tr:hover {
  background-color: #1E2129;
}

.background_name {
  padding-bottom: 10px;
}

.background_scenario_step {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.background_scenario_step strong {
  font-weight: bold;
}

.background {
  margin-top: 1rem;
}

.scenario_description {
  padding-left: 1rem;
}