@font-face {
    font-family:'atkinson';
    font-weight: 700;
    src:url("../fonts/Atkinson-Hyperlegible-Bold.woff2")format("woff2"),url("../fonts/Atkinson-Hyperlegible-Bold.woff")format("woff");
  }
  @font-face {
    font-family:'atkinson';
    font-style: italic;
    font-weight: 700;
    src:url("../fonts/Atkinson-Hyperlegible-BoldItalic.woff2")format("woff2"),url("../fonts/Atkinson-Hyperlegible-BoldItalic.woff")format("woff");
  }
  @font-face {
    font-family:'atkinson';
    font-style: italic;
    font-weight: 400;
    src:url("../fonts/Atkinson-Hyperlegible-Italic.woff2")format("woff2"),url("../fonts/Atkinson-Hyperlegible-Italic.woff")format("woff");
  }
  @font-face {
    font-family:'atkinson';
    font-weight: 400;
    src:url("../fonts/Atkinson-Hyperlegible-Regular.woff2")format("woff2"),url("../fonts/Atkinson-Hyperlegible-Regular.woff")format("woff");
  }
  
  :root {
    --color-primary: #005795;
  }
  
  .html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  body {
    font-family:'atkinson', sans-serif;
    background-color: var(--color-primary);
    color: white;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

.landing_container_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.title_box{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100vw;
    margin-top: 2vh;
    gap: 2vw;
    margin-left: 2vw;
}

.title_box_title{
    font-size: 2.5em;
    font-weight: 700;
}

.test_choice_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 2vh;
}

.test_choice_box_title{
    font-size: 5.5em;
    font-weight: 700;
}

.test_choice_box{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin-top: 2vh;
    align-items: center;
    justify-content: start;
    gap: 2vw;
    background: white;
}

.test_choice_box_title{
    font-size: 2.5em;
    font-weight: 700;
    color: black;
}

.test_choice_box_link_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    gap: 2vw;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 20vw;
    background: var(--color-primary);
    color: white;
    border-radius: 10px;
    text-align: center;
    gap: 1vw;
    transition: 0.5s;
}

.link_img{
    width: 20vw;
    height: 10vw;
    border-radius: 10px;
}