* {
  font-family: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #14151a;
    width: 100vw;
    min-height: 11vh;
    z-index: 1000;
  }

  .navbar_top{
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .image_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    color: #f3f3f3;
  }

  .navbar_img{
    width: 40px;
  }

  .navbar_top_right{
    display:flex;
    flex-direction: row;
    gap: 2vw;
  }

  .repo_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    color: #f3f3f3;
    text-decoration: none;
  }

  .repo_link:hover{
    opacity: 0.8;
  }

  .repo_link i{
    color: #f3f3f3;
    font-size: 30px;
  }

  .repo_text{
    display: flex;
    flex-direction: column;
    align-items: left;
    color: rgb(172, 169, 169);
    margin: 0;
  }

  .repo_text p{
    font-size: 0.8em;
    font-weight: 600;
    margin: 0;
    color: #f3f3f3;
  }

  .repo_text ul {
    text-decoration: none;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.5vw;
  }
  .repo_text ul li span {
    text-decoration: none;
    font-size: 0.8em;
    color: rgb(172, 169, 169)
  }

  .repo_text i{
    font-size: 12px;
    color: rgb(172, 169, 169);
  }

  .navbar_links{
    width: 75vw;
    background-color: #14151a;
    display: flex;
    list-style: none;
    align-items: left;
    gap: 1vw;
    padding: 0;
    margin-top: 1vh;
    transition: 0.2s;
  }

  .navbar_links_link a.active{
    color: #f3f3f3;
    transition: 0.2s;
}

.navbar_links_link a.active:hover{
    opacity: 0.8;
    transition: 0.2s;
}

.navbar_links_link a.inactive:hover{
  opacity: 0.8;
  transition: 0.2s;
}

  .navbar_links_link a{
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
    color: rgb(172, 169, 169);
    border-radius: 10px;
    vertical-align: middle;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    font-size: 2em;
    position: absolute;
    left: 10px;
    color: #f3f3f3;
}

.navbar_search {
  color: rgb(172, 169, 169);
  font-size: 1.2em;
  font-weight: 700;
    background-color: black;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 40px;
    border-radius: 5px;
    border: none;
  transition: 0.5s;
}

.navbar_search::placeholder {
    color: rgb(172, 169, 169);
    font-weight: 500;
}

.navbar_search:focus {
    outline: none;
}