
  .html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  body {
    font-family:'Roboto', sans-serif;
    color: #f3f3f3;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #14151a;
    width: 100vw;
    height: 10vh;
    z-index: 1000;
    margin: 0;
    padding: 0;
}

.navbar_img{
  width: 40px;
}

.navbar_search{
  color: rgb(172, 169, 169);
  font-size: 1.2em;
  font-weight: 700;
  width: 80vw;
    background-color: black;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 40px;
    border-radius: 5px;
    border: none;
    color: black;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  font-size: 2em;
  position: absolute;
  left: 10px;
  color: #f3f3f3;
}

.navbar_search::placeholder {
  color: rgb(172, 169, 169);
  font-weight: 500;
}

.navbar_search:focus {
  outline: none;
  background-color: rgb(172, 169, 169);
}

.navbar nav{
  width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar nav a{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: larger;
  font-weight: 700;
  color: #E2E4E9D1;
  transition: 0.2s;
}

.navbar nav a:hover{
  color: white;
}

.dropdown {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}


.dropdown-header {
  cursor: pointer;
  display: flex;
  height: 2vh;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #292a30;
}

.dropdown-header:hover {
  background-color: #1e1f26;
}

.dropdown-header h1 {
  color: #E2E4E9D1;
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  transition: max-height 0.5s ease-out;
}

.dropdown-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 0;
  gap: 5px;
}

.dropdown-content ul li {
  flex-basis: 40%;
}

.dropdown-content ul a {
  margin-bottom: 5px;
  font-size: 1.5em;
  font-weight: 700;
  color: var(--color-primary);
}

.dropdown-content ul h2 {
  margin-bottom: 5px;
  font-size: 1.3em;
  font-weight: 700;
  color: black;
}

.dropdown-content .steps{
  margin-bottom: 5px;
  font-size: 1.3em;
  font-weight: 700;
  color: black;
  padding-top: 5px;
}

.scenario_title a{
  margin-bottom: 20px;
}

.dropdown-content.show {
  max-height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #14151a;
}

.dropdown-content.show li {
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: 700;
  background-color: rgb(30, 33, 41)
}

.dropdown-content.show ul li {
  height: fit-content;
  min-height: 10vh;
}

.dropdown-content.show ul li p{
  font-size: 1rem;
}

.steps {
  display: flex;
  font-size: 1rem;
  color: #E2E4E9D1;
  padding: 0;
}

.steps strong {
  color: white;
  font-size: 1rem;
}

.dropdown-content ul li .steps p {
  padding-left: 5px;
  padding-bottom: 0;
  padding-top: 0;
}

.dropdown-content.show li a:hover {
  color: #2977ff;
  
}


.arrow {
  border: solid #E2E4E9D1;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 6px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


.dropdown-content ul {
  list-style-type: none;
  padding-left: 0;
  gap: 5px;
}

.dropdown-content ul li {
  margin-bottom: 5px;
  font-size: 1.1em;
  font-weight: 700;
}

.search_title{
    padding: 20px;
    margin-top: 5vh;
    color: black;
    margin: 0;
    font-size: 1.5em;
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.search_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    max-width: 20vw;
    min-height: 90vh;
    background-color: rgb(30, 33, 41);
}

.search_menu a {
  color: #E2E4E9D1;
  text-decoration: none;
  font-size: 1.5em;
  padding: 20px;
  margin: 0;
}

.search_menu h1 {
  color: #E2E4E98F;
  padding: 20px;
  margin: 0;
  font-size: 1.5em;
}

.search_display{
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 80vw;
  max-height: 86vh;
  overflow : auto;
  background-color: rgb(30, 33, 41);
  padding: 20px;
}

.search_display p {
  color: #E2E4E9D1;
  padding: 20px;
  margin: 0;
  font-size: 1.5em;
}

.search_category {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  min-width: 15vw;
  text-decoration: underline;
  margin-top: 20px;
}


.search_category > :last-child {
  margin-left: auto;
}

.search_menu a:hover {
  color: #2977ff;
}

.count {
  color: white;
  font-size: 0.8em;
  background-color: rgb(128, 128, 128);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 0px 6px;
  line-height: 1.5;
}

#scenarios, #features, #rules, #tags {
  scroll-margin-top: 100px;
}