header {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: solid 1px #CEC2C2;
  background-color: #FFFFFF;
}

header > div {
  display: flex;
  gap: 0.5rem;
}

.test-result-message{
  color: #696161;
  display: flex;
  align-items: end;
  gap: 2px;
}

.scenario .test-result-message{
  padding-bottom: 2px;
}

.test-result-message > img{
  margin-bottom: 2px;
}

.scenario-overview{
  display: flex;
  justify-content: space-between;
}

.scenario > ul {
  list-style: none;
  padding: 0;
}

.divider {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #CEC2C2;
}

.scenario > ul > li {
  margin-top: 0.5rem;
}

.feature-wrapper {
  border-top: none;
  background-color: #F2F2F2;
  overflow-y: auto;
  /*todo: this need adjusting when done*/
  max-height: calc(100vh - 6rem);
  padding: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.feature-wrapper::-webkit-scrollbar{
  display: none;
}
.rule > hr{
  margin-bottom: 1rem;
}

.rule > section {
  margin-left: 1rem;
}

section{
  padding: 1rem;
}

.description{
  margin: 1rem 0;
}

.main-description{
  max-width: 70ch;
}

.view-error{
  text-decoration: underline;
  color: #696161;
  font-size: 0.9rem;
  cursor: pointer;
}

.error-message {
  display: none;
}

.toggle-error:checked + .view-error + .error-message {
  display: block;
  background-color: #FFFFFF;
  border: solid red 1px;
  padding: 0.5rem
}

.scenario-heading{
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.scenario-heading > img{
  margin-bottom: 10px;
}
