.feature-overview {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}

header{
  background-color: #FFFFFF;
}

.feature-overview > div {
  display: flex;
  gap: 0.5rem;
}

.test-result-message{
  color: #696161;
}

.scenario > ul {
  list-style: none;
  padding: 0;
}

.scenario > hr {
  border: none;
  height: 1px;
  width: 70%;
  background-color: #CEC2C2;
}

.scenario > ul > li {
  margin-top: 0.5rem;
}

/*todo: this scrolls a bit to long and hides the heading.*/
.feature-wrapper {
  border-top: none;
  background-color: #F2F2F2;
  overflow-y: auto;
  /*todo: this need adjusting when done*/
  max-height: calc(100vh - 6rem);
  padding: 1rem;
}

.rule > hr{
  margin-bottom: 1rem;
}

.rule > div {
  margin-left: 2rem;
}

.rule > section{
  padding-left: 1rem;
}

section{
  padding: 1rem;
}