@page "/product/{productName}"
@model VizGurka.Pages.Product.ProductModel
@{
    Layout = "~/Pages/Shared/_ProductLayout.cshtml";
    var testRun = TestrunReader.ReadLatestRun(Model.ProductName);
    var product = testRun.Products.FirstOrDefault();
    var testRunDateTime = DateTime.Parse(testRun.DateAndTime);
    ViewData["Title"] = testRun.Name;
}
<section>
    <div class="sidemenu">
        <h1 class="sidemenu_title">@testRun.Name</h1>
        <h3 class="sidemenu_date">Generated:@testRunDateTime.ToString("dd MMMM yyyy HH:mm")</h3>
    </div>
</section>